In [56]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
import xgboost

In [44]:
import pandas as pd 
 
# Шаг 1. Загрузка и очистка данных
df = pd.read_csv('titanic.csv')
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis = 1, inplace = True)
df['Embarked'].fillna('S', inplace = True)
df.drop('Embarked', axis = 1, inplace = True)
 
age_1 = df[df['Pclass'] == 1]['Age'].median()
age_2 = df[df['Pclass'] == 2]['Age'].median()
age_3 = df[df['Pclass'] == 3]['Age'].median()
 
def fill_age(row):
   if pd.isnull(row['Age']):
       if row['Pclass'] == 1:
           return age_1
       if row['Pclass'] == 2:
           return age_2
       return age_3
   return row['Age']
 
df['Age'] = df.apply(fill_age, axis = 1)
 
def fill_sex(sex):
    if sex == 'male':
        return 1
    return 0
 
df['Sex'] = df['Sex'].apply(fill_sex)

df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0           0       3    1  22.0      1      0   7.2500
1           1       1    0  38.0      1      0  71.2833
2           1       3    0  26.0      0      0   7.9250
3           1       1    0  35.0      1      0  53.1000
4           0       3    1  35.0      0      0   8.0500
..        ...     ...  ...   ...    ...    ...      ...
886         0       2    1  27.0      0      0  13.0000
887         1       1    0  19.0      0      0  30.0000
888         0       3    0  24.0      1      2  23.4500
889         1       1    1  26.0      0      0  30.0000
890         0       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]

In [45]:
x = df.drop("Survived", axis = 1)

y = df["Survived"]

In [46]:
x

     Pclass  Sex   Age  SibSp  Parch     Fare
0         3    1  22.0      1      0   7.2500
1         1    0  38.0      1      0  71.2833
2         3    0  26.0      0      0   7.9250
3         1    0  35.0      1      0  53.1000
4         3    1  35.0      0      0   8.0500
..      ...  ...   ...    ...    ...      ...
886       2    1  27.0      0      0  13.0000
887       1    0  19.0      0      0  30.0000
888       3    0  24.0      1      2  23.4500
889       1    1  26.0      0      0  30.0000
890       3    1  32.0      0      0   7.7500

[891 rows x 6 columns]

In [47]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

df.corr(method="pearson")

          Survived    Pclass       Sex       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.543351 -0.047255 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000  0.131900 -0.408487  0.083081  0.018443 -0.549500
Sex      -0.543351  0.131900  1.000000  0.078421 -0.114631 -0.245489 -0.182333
Age      -0.047255 -0.408487  0.078421  1.000000 -0.243526 -0.171095  0.123784
SibSp    -0.035322  0.083081 -0.114631 -0.243526  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.245489 -0.171095  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500 -0.182333  0.123784  0.159651  0.216225  1.000000

In [49]:
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [50]:
KNNML = KNeighborsClassifier(n_neighbors=5)
KNNML.fit(x_train, y_train)

KNeighborsClassifier()

In [52]:
y_pred = KNNML.predict(x_test)

In [54]:
accuracy_score(y_pred, y_test)*100

77.13004484304933

In [58]:
XGB = xgboost.XGBClassifier()

XGB.fit(x_train, y_train)

XGB_y_pred = XGB.predict(x_test)

In [59]:
accuracy_score(XGB_y_pred, y_test) * 100

77.57847533632287